.MobileMenu{
    list-style-type:none;
    min-height:80px;
    min-width:450px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:2em;
    padding-right:50px;
    position:relative;
    left:-50px;
    background-color:var(--White);
    z-index:10;
    li{
        a{
            text-decoration-line:none;
            color:var(--Black);
            font-weight:900;
            text-transform:capitalize;
            font-size:18px;
        }
    }
}
.MenuOpen, .MenuClose{
    width:100%;
    transition:0.2s;
}
.MenuOpen{
    top:0px;
   
}
.MenuClose{
    top:-100px;
}