
header{
    width:100%;
    min-width:450px;
    display:flex;
    align-items:center;
    padding:0 3em;
    z-index:100;
}
header img:first-child{
    position:absolute;
    top:2em;
    z-index:11;
}
header .Logo{
    position:absolute;
    right:13em;
    top:2em;
}
.Slider{
    width:100%;
    min-height:500px;
    min-width:450px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.about{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    background-color:var(--White);
}
.about img{
    width:100%;
}
.about h2, .about p{
    padding:2em;
}
.about h2{
    font-weight:900;
    font-size:1em;
    text-transform:uppercase;
    letter-spacing:5px;
    word-spacing:5px;
    padding:4em 2em 2em 2em;
}
.about p{
    padding:0 2em 2em 2em;
    color:var(--VeryDarkGray);
    font-size:18px;
}
