@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
:root{
  --DarkGray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkGray: hsl(0, 0%, 27%);
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  min-height:100vh;
  font-family: "League Spartan", sans-serif;
}
#root{
  overflow:hidden;
}
@media screen and (max-width:510px){
  #root{
    width:100%;
  }
}
@media screen and (min-width:511px){
  #root{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-areas:"banner slider" "bottom bottom";
    grid-template-columns: 60% 40%;
    grid-template-rows:65% 35%;
  }
  #root .Slider{
    grid-area:banner;
  }
  #root .subtitle{
    grid-area:slider;
  }
  #root .about{
    grid-area:bottom;
    display:flex;
    flex-direction:row;
  }
  #root .about img{
    width:40%;
    height:100%;
    max-width:500px;
  }
}